


.card-container{
    width: 100% !important;
    padding: 30px 0px;
    .mat-card{
     max-width: 500px !important;
     margin: 0 auto;

    }
    .mat-checkbox{
        float: right;
    }
    .mat-icon{
        float: right;
        cursor: pointer;
    }
}

.list{
    div{
        padding: 19px 40px;   
    }
     
    .mat-card{
        border: 1px solid transparent;
        background-color: #fff;
        border-color: #e1d9d9;
        color: black;
        .mat-card-content{
            min-height: 70px;

        }


    }

    .mat-card:hover {
        box-shadow: 0 7px 10px 0 rgba(60,64,67,0.302), 0 7px 10px 5px rgba(60,64,67,0.149);

    }

}

.example-spacer {
    flex: 1 1 auto;
  }

  ::ng-deep .searchbar{
    font-size: 12px;width: 50%;

.mat-icon{
    font-size: 20px;
}

    .mat-form-field{
        height: 40px;width: 100%;
    }

   
}

::ng-deep  .mat-toolbar .mat-input-element {
    font-size: 16px !important;
}

.list{
    .mat-icon{
        color: white;

    }

}

.list :hover{
    .mat-icon{
        color: black;

    }

}

.example-list-section{  
    max-height: 25px !important;
    margin-left: 18px;
    margin-bottom: 5px;
  
    input{
      margin-left: 5px !important;
      font-size: 17pxpx;
      margin-top: 3px;  }
  
   
  }
  ::ng-deep .mat-checkbox-layout {
    width: 100%;
  }
  
  ::ng-deep  .mat-checkbox-label {
  
    width: 100%;
  
  }
  
  